syntax = "proto3";

package {{.Package | SnakeCase}}.v1;

option go_package = "{{.GoModule}}/api/{{.Package | SnakeCase}}/v1";

import "google/api/annotations.proto";
{{range .ProtoImports}}{{ .}}
{{end}}

service {{.Package | PascalCase}}Service {
    {{range .Services}}
    rpc {{.RpcSignature}} {
        option (google.api.http) = {
            {{range .HttpOptions}}{{ .}}
            {{end}}
        };
    }
    {{end}}
}
{{range .Services}}{{if and (not .HasCustomParams) (not .EmptyInput)}}
message {{.Name}}Request { {{.ProtoInputs}}
}
{{end}}{{if and (not .HasCustomOutput) (not .EmptyOutput)}}
message {{.Name}}Response {
{{.ProtoOutputs -}}    
}{{end}}{{end}}